/*CSS for fonts, later in workflow*/
@import url('https://fonts.googleapis.com/css?family=Abel|Anton');
/*CSS for headings*/
.cust-h{
    font-family: 'Anton', sans-serif;
}

.cust-h1{
    font-size:64px;
}
.cust-h2{
    font-size:48px;
}
.cust-h3{
    font-size:40px;
}
.cust-h4{
    font-size:32px;
}
.cust-h5{
    font-size:28px;
}

/*Styling for paragraph*/
.cust-p{
    font-family: 'Abel', sans-serif;
}

/*Color palette styles*/
.red-palette{
    background-color:#E6563B;
}
.orange-palette{
    background-color: #E89D3C;
}
.green-palette{
    background-color: #7CB06C;
}
.blue-palette{
    background-color: #00ABA9;
}
.snow-palette{
    background-color: #F0F0F0;
}
.grey-palette{
    background-color: #E6E6E6;
}
.white-palette{
    background-color:#FFF;
}
/*sizing for logo and icons*/

.cust-logo {
    display: block;
    height: 105px;
    width: 105px;
    border-radius: 52.5px;
    line-height:105px;
    margin: 0 auto;
    padding-right: 5px;
}

.cust-border{
    border:3px solid white;
}



.cust-icons {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    line-height:18px;
    margin: 0 auto;
}
.cust-text{
    color:#FFF;
}

/*Image border*/
.cust-image {
    border: 12px solid #E6E6E6;
    height:230px;
    width:100%;
}

#mac{
    background-size:cover;
    background-image: url(../img/macbook.jpg);


}
#man{
    background-size:cover;
    background-image: url(../img/man.jpg);
}
#pad{
    background-image: url(../img/apple-ipad.jpg);
    background-size:cover;
}
#sec{
    background-image: url(../img/security.jpg);
    background-size:cover;
}